<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polymap.rhei.form.pageProviders">
      <pageProvider
            class="org.polymap.twv.ui.FormPageProvider"
            id="org.polymap.twv.pageProvider"
            name="TWV Page">
      </pageProvider>
   </extension>
   <extension
         point="org.polymap.core.model.moduleAssemblers">
      <assembler
            class="org.polymap.twv.model.TwvRepositoryAssembler">
      </assembler>
   </extension>
   <extension
         point="org.polymap.rhei.form.filterProviders">
      <filterProvider
            class="org.polymap.twv.ui.FilterProvider"
            id="org.polymap.twv.ui.FilterProvider"
            name="org.polymap.twv.ui.FilterProvider">
      </filterProvider>
   </extension>
   <!--extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.polymap.kaps.importer.MdbImportWizard"
            id="org.polymap.kaps.wizard"
            name="KapsImport">
      </wizard>
   </extension-->

</plugin>
